@charset "UTF-8";

/* Estilos CSS para as abas de Região */



/* Gerais */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*overflow: hidden;*/
}
#img_teman {
    background-image: url(../img/partemapa_teman.png);
}



/* header*/

.img_regioes {
    background-size: 105%;
    background-position: center center;
    background-repeat: no-repeat;
    aspect-ratio: 16/9;
    border: 4px solid var(--colorBorda);
    transition: background-size .7s;
}
.img_regioes:hover {
    background-size: 110%;
}


/* Main */

.main_regioes {
    padding: 10px;
}
.main_regioes .comentario_regioes {
    margin: 10px -20px;
}
.main_regioes .aspas_cima, .aspas_baixo {
    width: 12px;
    height: 12px;
    margin: 0 15px;
}
.main_regioes .aspas_baixo {
    margin-left: calc(100% - 30px);
    padding-bottom: 5px;
}
.main_regioes h4 {
    text-align: center;
    font-size: 5vw;
    font-weight: 100;
    padding: 0 20px;
}
.main_regioes img {
    width: 90%;
}