@charset "UTF-8";

/*
Esses estilos são divididos em duas partes
Parte para a página das regiões (regiões.html)
Parte para as páginas regiões individuas (teman.html / pacar.html ...)
*/

/* Gerais */

body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
#img_teman {background-image: url(../img/partemapa_teman.png);}
#img_pacar {background-image: url(../img/partemapa_pacar.png);}
#img_duaribu {background-image: url(../img/partemapa_duaribu.png);}
#img_kenan {background-image: url(../img/partemapa_kenan.png);}
#img_kerikil {background-image: url(../img/partemapa_kerikil.png);}
#img_tidur {background-image: url(../img/partemapa_tidur.png);}
#img_panas {background-image: url(../img/partemapa_panas.png);}
#img_malan {background-image: url(../img/partemapa_malam.png);}
#img_ocean {background-image: url(../img/mapa_fr_650.jpg);}
#img_sembilan {background-image: url(../img/partemapa_sembilan.png);}
#img_sepuluh {background-image: url(../img/partemapa_sepuluh.png);}
#img_safir {background-image: url(../img/partemapa_safir.png);}



/* ---------- CSS da página regioes.html ---------- */
/* ---------- -------------------------- ---------- */

/* main */

main {
    padding: 15px;
}
main h1 {
    padding: 25px 0 5px 0;
    font-size: 7vw;
    font-weight: 900;
}
main h2 {
    padding: 20px 0 5px 0;
    font-size: 5vw;
    font-weight: 700;
}
main p {
    text-indent: 5vw;
    line-height: 1.5em;
    max-width: 700px;
    font-size: 4vw;
    padding: 4px 0;
}
main a {
    color: var(--color01);
    text-indent: 5vw;
    text-decoration: none;
    font-weight: bolder;
}
main a:hover {
    text-decoration: underline;
}
main .flex_img {
    display: flex;
    flex-direction: column;
}
main .flex_img .img_regioes {
    margin: 10px 0;
}



/* ---------- CSS das páginas das regiões individuais ---------- */
/* ---------- teman.html / pacar.html / duaribu.html ---------- */

/* header */

.img_regioes {
    background-size: 105%;
    background-position: center center;
    background-repeat: no-repeat;
    aspect-ratio: 16/9;
    border: 4px solid var(--colorBorda);
    transition: background-size .7s;
}
.img_regioes:hover {
    background-size: 110%;
}

/* Main */

.main_regioes {
    padding: 10px;
}
.main_regioes .comentario_regioes {
    margin: 10px -20px;
}
.main_regioes .aspas_cima, .aspas_baixo {
    width: 12px;
    height: 12px;
    margin: 0 15px;
}
.main_regioes .aspas_baixo {
    margin-left: calc(100% - 30px);
    padding-bottom: 5px;
}
.main_regioes h4 {
    text-align: center;
    font-size: 5vw;
    font-weight: 100;
    padding: 0 20px;
}
.main_regioes img {
    width: 90%;
}