@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}



header .navbar {
    background-color: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
}
header img {
    width: 130px;
    padding: 10px;
}
header .links a {
    height: 100%;
    margin: 0 5px;
    color: black;
    text-decoration: none;
}



main {
    background-color: #fff;
    color: #222;
}
main .imgprincipal {
    background-image: url(../img/fr_background03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 700px;
    display: block;
}
main .conteudo_principal {
    padding: 30px;
}
main .conteudo_principal h1 {
    padding: 20px 0;
    font-size: 30px;
}
main .conteudo_principal p {
    text-indent: 30px;
    line-height: 1.4em;
    max-width: 700px;
    font-size: 20px;
    padding-bottom: 50px;
}
main .penan {
    display: flex;
    align-items: center;
}
main .penan img {
    max-width: 700px;
}
main .penan p {
    max-width: 600px;
    padding-left: 40px;
}